/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/
.navbar {
	position:relative;
	height:80px;
	background-color:#fff;
}

.menu_block {
	position:fixed;
	z-index:9999;
	left:0;
	top:0;
	right:0;
	height:80px;
	width:100%;
	background-color:#fff;
	box-shadow:0 2px 3px rgba(0,0,0,0.1);
}

/* __________ Logo __________ */
.logo {float:left;}
.logo a {
	text-transform:uppercase;
	line-height:80px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:26px;
	color:#333;
}
.logo a span {
	display:inline-block;
	padding-right:18px;
}
.logo a span.b1 {font-weight:900;}
.logo a span.b2 {font-weight:700;}
.logo a span.b3 {font-weight:400;}
.logo a span.b4 {font-weight:300;}
.logo a span.b5 {font-weight:100;}


/* __________ Menu __________ */

.nav-navlink {
	display:block;
	margin:0 0 0 -3px;
	padding:30px 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	font-weight:900;
	line-height:20px;
	font-size:13px;
	color:#666;
	transition: all 0.3s ease-in-out; 
	-webkit-transition: all 0.3s ease-in-out;
}
.nav-navlink:hover,
.nav-navlink.active {
	color:#333;
}